{% extends 'blog/base.html' %}

{% block content %}
<div class="about-container">
    <h1>About Me</h1>
    <div class="about-content">
        <p>Hello! I'm a passionate developer and writer who loves sharing experiences through blogging.</p>
        <p>I enjoy designing, cooking, reading, and exploring new technologies. This blog is my personal space to share my adventures and thoughts.</p>
        <p>Feel free to explore my random posts or check out all my content in one place!</p>
    </div>
</div>
{% endblock %}